
  <%= js_will_paginate(users, next_label: "<i class='material-icons'>keyboard_arrow_right</i>", 
                              previous_label: "<i class='material-icons'>keyboard_arrow_left</i>",
                              ) %>
  <div class="list-group users-list">
    <% users.each do |user| %>     
      <%= render 'user', { user: user, size: 50 } %>
    <% end %>
  </div>

  <%= js_will_paginate(users, next_label: "<i class='material-icons'>keyboard_arrow_right</i>", 
                              previous_label: "<i class='material-icons'>keyboard_arrow_left</i>",
                              ) %>


