
  <%= link_to(user_path(@user.id), class: "list-group-item list-group-item-action", remote: true) do %>
    <div class="col-4 col-xl-4 col-lg-4 col-md-3 align-self-center">
      <p class="user-header-image">
        <%= gravatar_for @user, size: size %>
      </p>
    </div>
    <div class="col-8 col-xl-8 col-lg-8 col-md-9 align-self-center">
      <p class="user-header-name">        
        <b><%= @user.name %></b>
      </p>
    </div>
  <% end %>
  <div id="user-id" style="display: none;"><%= @user.id %></div>   
