<%= render 'layouts/header' %>

<div class="row no-gutters">

  <div class="col-lg-3  parent-profile">
      <%= render 'profile', { user: @user, show_posts: false } %>
  </div>
  
  <div class="col-lg-6 main-page">
    <%= render 'microposts/feed' %>
  </div>

</div>


  


