<%= render 'layouts/header' %>

<div class="row no-gutters">

  <div class="col-lg-3  parent-profile">
      <%= render 'profile', { user: @user, link: true, show_posts: false} %>
  </div>
  
  <div class="col-lg-6 main-page">
    <div class="people-index-list">  
      <%= render 'search_form', { users: @users } %> 
      <div class="user-page">
        <%= render 'user_page', { users: @users } %>
      </div>
    </div>
  </div>

</div>


  


