@media only screen and (min-width: 768px) {
  .parent-profile {
    padding-left: 15px !important;
    padding-right: 7.5px !important;
  }
}

@media only screen and (max-width: 767px) {
  .parent-profile {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.parent-profile #sidebar {
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.05);
  &.affix {
    position: sticky;
    position: -webkit-sticky;
    top: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .main-page {
    padding-left: 7.5px !important;
    padding-right: 15px !important;
  }
}

@media only screen and (max-width: 767px) {
  .main-page {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (max-width: 991px) {
  .navbar .dropdown.show .dropdown-menu, .navbar .dropdown .dropdown-menu {
    overflow-y: hidden;
  }
}

.main-page {
  .search-header {
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.05);
    .user-display-meter {
      padding-left: 15px;
    }
  }
  .user-page {
    margin-top: 5px;
    nav.pagination {
      margin: 10px 0 10px 0;
    }
    ul.pagination {
      justify-content: center !important;
      flex-wrap: wrap;
      margin-bottom: 0px;
      box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.05);
      width: 100%;
      li.active a {
        background-color: #00bcd4 !important;
        border-color: #00bcd4 !important;
        box-shadow: 0 4px 5px 0 rgba(0, 188, 212, 0.14), 0 1px 10px 0 rgba(0, 188, 212, 0.12), 0 2px 4px -1px rgba(0, 188, 212, 0.2) !important;
      }
    }
    .users-list {
      box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.05);
    }
  }
}

ul {
  padding-left: 0;
}

div.form-check .form-check-input:checked + .form-check-sign .check {
  background-color: #00bcd4;
}

.search-form {
  margin: 0 auto;
  width: 60%;
}

input.form-control:focus, .is-focused input.form-control {
  background-image: linear-gradient(to top, rgba(0, 188, 212, 0.14) 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.btn-github {
  background-color: black !important;
  border-color: black !important;
}

.btn-twitter {
  background-color: #55acee !important;
  border-color: #55acee !important;
}

.btn-google-plus {
  background-color: #D84639 !important;
  border-color: #D84639 !important;
}